*{
    padding: 0;
    margin: 0;
}

body{
    background-color: palegreen;
    font-family: sans-serif;
}

.titulo{
    position: absolute;
    width: 350px;
    font-family: sans-serif;
}

.mapa-content{
    width: 1000px;
    height: 700px;

    margin: 5% auto;
}


.mapa-content img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.municipios{
    position: relative;
    top: -100%;

    width: 100%;
    height: 100%;
}

.localization{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.polo-menu li{
    list-style: none;
}

.polo-menu li h1{
    display: flex;
    flex-direction: column;
    width: 100px;
    font-size: 72%;
    align-items: center;
    text-align: center;
    cursor: pointer;
}


.polo-menu li h1 span{
    width: 7px;
    height: 7px;
    border-radius: 50px;
    background-color:#4169E1;
}

.polo-submenu{
    position: absolute;
    font-size: 120%;
    width: 200px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 25px rgba(0,0,0,.3);
    transform: translate(101px, -63px);
    visibility: hidden;
    opacity: 0;
    transition: 100ms ease-in;
}

.polo-submenu li{
    padding-bottom: 4px;
}

.polo-submenu li:last-child{
    padding-bottom: 0;
}

.polo-submenu li a{
    text-decoration: none;
    color: #000;
}

.polo-submenu li a:hover{
    color: slategray;
}

.polo-menu li:hover .polo-submenu{
    visibility: visible;
    opacity: 1;
}


/*CSS dos municipios*/

/*start Manaus*/
.manaus{
    position: absolute;
    transform: translate(728px, 275px);
}
/*end Manaus*/

/*start Autazes*/
.autazes{
    position: absolute;
    transform: translate(774px, 335px);
}

.autazes .polo-menu li h1 span{
    background-color: #FF1493;
}
/*end Autazes*/


/*start Borba*/
.borba{
    position: absolute;
    transform: translate(754px, 379px);
}

.borba .polo-menu li h1 span{
    background-color: #8B4513;
}
/*end Borba*/


/*start Manicore*/
.manicore{
    position: absolute;
    transform: translate(654px, 447px);
}


.manicore .polo-menu li a{
    text-decoration: none;
    color: #000;
}

.manicore .polo-menu li h1 span{
    background-color: #8B4513;
}
/*end Manicore*/


/*start Umaita*/
.umaita{
    position: absolute;
    transform: translate(562px, 525px);
}

.umaita .polo-menu li a{
    text-decoration: none;
    color: #000;
}

.umaita .polo-menu li h1 span{
    background-color: #696969;
}

/*end Umaita*/
